/*----------- PSEUDOELEMENTOS --------------*/
/* p::first-letter{color:blue;} */

/* p::first-line{background-color: lightgreen;} */

/* p::selection{background-color: lightsalmon;} */
/* 
p::before{ content:"✨";}
p::after{ content:"🙉";} */

