header {
    grid-area: header;
    background-color: #fed330;
    padding: 20px;
  }
  article {
    grid-area: content;
    background-color: #20bf6b;
    padding: 20px;
  }
  aside {
    grid-area: sidebar;
    background-color: #45aaf2;
  }
  footer {
    padding: 20px;
    grid-area: footer;
    background-color: #fd9644;
  }
  .wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header  header"
      "sidebar content"
      "footer  footer";
  }
  @media (max-width: 500px) {
    .wrapper {
      grid-template-columns: 4fr;
      grid-template-areas:
        "header"
        "sidebar"
        "content"
        "footer";
    }
  }