html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 99%;
}

h1 {
    font-size: 4rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width:480px) {
    .dos-columnas {
        display: flex;
        justify-content: space-between;
    }
    .entrada-blog {
        flex-basis: calc(50%-1rem);
        /*calc() hace un cálculo matemático*/
        /*Ocupa el 50% del contenedor - 1 rem para dar espacio entre columnas*/
    }
}