div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    /* static: es el valor por defecto, todos los elementos aparecen según el orden natural en el HTML
        relative: igual que el estático pero va a depender de las propiedades (top, bottom, etc.) 
        absolute: utiliza como punto de origen el primer contenedor con posicionamiento distinto de estático. 
        fixed: hermano del posicionamiento absoluto. Funciona igual pero se muestra en una posición fija según la región visual del navegador. */
    position: relative;
    animation-delay: 1s;
}

@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
