<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introducción a Vue.JS</title>
    <link rel="stylesheet" href="css/estilos.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>

    <div id="ejemplo1">
        <h1>{{ mensaje }}</h1>
    </div>
    <hr>

    <div id="ejemplo2">
        <ul>
            <li>Nombre : {{nombre}}</li>
            <li>Apellido : {{apellido}}</li>
            <li>Presentación: {{ detalles() }}</li>
        </ul>
    </div>
    <hr>

    <div id="ejemplo3">
        <ul>
            <li>Nombre : {{nombre}}</li>
            <li>Apellido : {{apellido}}</li>
        </ul>
        <div v-html="contenidoHtml"></div>
        <img v-bind:src="imgsrc" v-bind:alt="imgalt" width="250" height="250">
    </div>
    <hr>

    <div id="ejemplo4">
        <custom-component></custom-component>
    </div>

    <div id="ejemplo5">
        <h1> Ejemplo 5</h1>
        <custom-component-two></custom-component-two>
    </div>
    <hr>

    <div id="ejemplo6">
        <component v-bind:is="vista"></component>
    </div>
    <hr>

    <div id="ejemplo7">
        Nombre : <input type="text" v-model="nombre" /><br><br> 
        Apellido : <input type="text" v-model="apellido" /><br><br>
        <h2>Mi nombre es {{nombre}} {{apellido}}</h2>
        <h2>Usando una propiedad computada: {{getNombreCompleto}}</h2>
    </div>
    <hr>

    <div id="ejemplo8">
        <h1>Accediendo a Elementos del DOM utilizando $refs</h1>
        <input type="text" ref="text">
        <br><br>
        <button type="button" @click="addText">Guardar</button>
        <button type="button" @click="deleteText">Borrar</button>
        <p ref="textField"></p>
    </div>

    <script src="js/app.js"></script>
</body>

</html>